<!DOCTYPE html>
<html>
<head>
  <title>Edit Student</title>
</head>
<body>
  <form action="/student_edit" method="POST">
    <input type="text" name="current_name" placeholder="Current Name">
    <input type="text" name="new_name" placeholder="New Name">
    <input type="text" name="campus" placeholder="New Campus">
    <input type="text" name="age" placeholder="New Age">
    <button type="submit">Save</button>
  </form>
</body>
</html>