<!DOCTYPE html>
<html>
<head>
  <title>Student Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Student Management System</h1>
  <p>Welcome to the Student Management System.</p>
  <ul>
    <% @students.each do |student| %>
      <li><%= student ['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
</body>
</html>


