<html>
<head>
  <title>San Francisco</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>San Francisco Students</h1>
    <ul>
      <% @students.each do |student| %>
        <li><%= student ['name'] %>, <%= student['age'] %>, <%= student['campus'] %></li>
      <% end %>
    </ul>
</body>
</html>

<!-- http://localhost:9393/san_fran -->
