blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

body {
  max-width: 960px;
  margin: auto;
}

#external-links {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  min-width: 200px;
}

main {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  #external-links h1 {
    font-size: 20px;
  }
  #external-links {
    font-size: 15px;
    width: 100%;
  }
  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 250px) {
  #external-links h1 {
    font-size: 15px;
  }
  #external-links {
    font-size: 10px;
    width: 100%;
  }
  h1 {
    font-size: 15px;
  }
  main {
    font-size: 13px;
    width: 100%;
  }
}



/* Media Query example from assignment:

@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
} */
