section#contact-info {
  font-size: .8em;
  }

.job {
  background-color: #e9e5dc;
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
  }

.accomplishments {
  font-size: .8em;
  }